/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f4f1;
    max-height: 100vh; /* Sesuaikan dengan tinggi yang diinginkan */
  }
  
  /* Main layout database Styles */
  .main-layout-database-user {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.sub-summary-database {
    width: 100%;
    margin: 20px auto 5px; /* Adjusted margin */
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Sesuaikan dengan jarak yang diinginkan antar elemen */
    padding-left: 15px;
    padding-right: 10px;
}

.icon-image-database-user {
    width: 20px;
    height: 20px;
  }

.icon-home-img-database-user {
    color:#F4518D
}

.div-icon-bar-database-user{
    color:#F4518D
}

.custom-button {
    background: rgba(244, 81, 141, 0.20) !important;
    border: none !important;
    color: #F4518D !important;

    /* Atur properti CSS lainnya jika diperlukan */
}

 /* CSS untuk Tata Letak Sub Containers */
 .sub-containers-user {
    width: 100%;
    margin: 20px auto 5px; /* Adjusted margin */
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Sesuaikan dengan jarak yang diinginkan antar elemen */
    padding-left: 10px;
    padding-right: 70px;
  }
  
  /* CSS untuk Tata Letak Left Container */
  .interaksi-kontributor-database-user {
    width: calc(50% - 10px); /* 50% lebar dan dikurangi margin */
    max-width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px; /* Adjusted margin */
    background: var(--gradient-button-grad, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%));
  }
  
  .div-header-database-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .div-header-content-database-user {
    display: flex;
    align-items: center;
  }
  
  .div-header-left-database-user {
    margin-right: 10px;
  }
  
  .icon-image-database-user {
    width: 32px;
    height: 32px;
  }
  
  .div-title-DashboardSummary-database-user {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .div-footer-database-user {
    display: flex;
    flex-direction: column;
  }
  
  .div-footer-content-database-user {
    display: flex;
    justify-content: space-between;
  }
  
  .div-footer-item-database-user {
    text-align: center;
  }
  
  .div-footer-title-left-database-user {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  
  .div-footer-data-left-database-user {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  
  .div-footer-percentage-left-database-user {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  .user-text-database-user {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
    margin-right: auto;
    font-family: sans-serif;
  }

  /* Percentage Container Styles */
.percentage-container-database-user {
  display: flex;
  gap: 20px; /* Ruang antara elemen di dalam percentage-container */
}

/* Percentage Type Styles */
.percentage-type-database-user {
  flex: 1;
  text-align: left;
  padding: 10px;
  background-color: transparent;
  margin-top: 5px;
}

/* Additional Styles for Labels */
.percentage-type-database-user label {
  display: flex;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #fff;
  width: 130px; /* Lebarkan label */
  font-size: 14px;
}

/* Styles for Paragraphs */
.percentage-type-database-user p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 0; /* Menghilangkan margin default */
  display: inline; /* Menjadikan paragraf tampil secara inline (horizontal) */
}

/* Second Paragraph Styles */
.percentage-type-database-user #format {
  font-size: 12px;
  margin-left: 10px; /* Atur jarak dari paragraf pertama */
  color: #fff;
  display: inline; /* Menjadikan paragraf tampil secara inline (horizontal) */
}


.table-header th {
    border-bottom: 1px solid #4B4B4B !important;
    /* Atur warna dan gaya border sesuai kebutuhan */
    border-top: 1px solid #4B4B4B !important;
    /* Atur warna dan gaya border sesuai kebutuhan */
}

.custom-btn-account {
    display: flex !important;
    width: 175px !important;
    height: 36px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 12px !important;
    background: var(--primary-gradient-1, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%)) !important;
    border: none !important;
}

.custom-btn-dropdown{
    background: rgba(94, 99, 102, 0.08) !important;
    border: none !important;
    color: #8B8D97 !important;
}

.page-selector-footer-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    }
    
    .items-perpage {
    display: flex;
    align-items: center;
    margin-left: -25px;
    }
    
    .items-per-page-select {
    margin-right: 10px;
    }
    
    .items-per-page-select p1 {
    vertical-align: middle;
    margin-bottom: 0; /* Hilangkan margin bawah dari elemen p1 */
    margin-left: 5px;
    }
    
    select {
    padding: 8px;
    background: rgba(94, 99, 102, 0.08);
    border-radius: 5px;
    font-size: 14px;
    }
    
    .page-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
    margin-left: 10px; /* Sesuaikan jarak antara elemen */
    }
    
    /* CSS untuk PageOptions */
    .page-options-artikel {
    display: flex;
    align-items: center;
    margin-right: -35px;
    }
    
    .page-options-artikel p {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
    color: #555;
    }
    


