.custom-button {
    background: rgba(244, 81, 141, 0.20) !important;
    border: none !important;
    color: #F4518D !important;

    /* Atur properti CSS lainnya jika diperlukan */
}

.modal-600-width {
    max-width: 600px;
    margin: auto;
}

.custom-modal-database-data-user {
    width: 600px;
    height: 400px;
}