
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-istok-web: "Istok Web", sans-serif;
  --font-poppins: "Poppins", sans-serif !important;
}

td{
  word-break: break-all;
  overflow-x: auto;
}