/* Modal Style */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 80%; 
  max-width: 600px; 
  border-radius: 8px;
  position: relative;
}

.modal-content h1 {
  font-size: 20px; 
  margin-bottom: 20px; 
  text-align: left; 
  color: #333; 
  font-family: 'Poppins' ;
}

/* Tambahan untuk membuat modal berada di tengah */
@media (max-width: 768px) {
  .modal-content {
    width: 50%;
    height: 30%;
  }
}

/* Close Button Styling */

/* .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
} */


/* Form Style */

/* .form-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
  width: 50%;
  gap: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Poppins';

} */

/* Gaya CSS untuk input teks */

/* input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Inter';
  background-color: rgba(239, 241, 249, 0.6);
} */

/* Placeholder Style */

/* input[type="text"]::placeholder {
  color: rgba(31, 31, 31, 1);
}

input[type="text"],
input[type="date"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;

}

.sesi-title {
  font-size: 16px; 
  color: #1F1F1F; 
  margin-bottom: 10px; 
  font-family: 'Poppins';
  margin-top: -15px;
}

.column {
  flex: 1;
  padding: 0 10px;
} */

/* Checkbox Styling */

/* label {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + p {
  margin-left: 30px;
}

input[type="checkbox"] + p:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 1px;
}

input[type="checkbox"]:checked + p:before {
  content: '\2713';
  font-size: 14px;
  background-color: rgba(85, 112, 241, 1);
  color: #fff;
  text-align: center;
  line-height: 18px;
} */

/* EditKonselingButton.css */

/* .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:first-child {
  background-color: #fff; 
  color: #5570F1;
  border: 2px solid var(--Primary, #5570F1);
  border-radius: 12px;
  margin-left: 310px;
}

.button-container button:last-child {
  background: var(--primary-gradient-1, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%));
  color: #fff; 
} */