/* EditKonseling.css */

/* Gaya untuk modal */
.modal-konseling {
  /* Atur properti untuk tampilan modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Efek gelap pada latar belakang */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Gaya untuk konten modal */
.modal-content-konseling {
  /* Atur properti untuk kotak konten modal */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk tombol close */
/* Sesuaikan dengan desain tombol close yang Anda inginkan */
.close-button {
  /* Atur properti untuk tombol close */
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Gaya untuk label dan checkbox */
.checkbox-label-sesi {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Gaya untuk teks pada checkbox */
.checkbox-text-sesi {
  margin-left: 5px;
}

/* Gaya untuk input teks dengan class 'np' */
input.np {
  /* Atur properti untuk input teks dengan class 'np' */
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
}

/* Gaya untuk input teks dengan class 'nk' */
input.nk {
  /* Atur properti untuk input teks dengan class 'nk' */
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e6e6e6;
  color: #444;
}

/* Gaya untuk input teks dengan class 'nu' */
input.nu {
  /* Atur properti untuk input teks dengan class 'nu' */
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d9d9d9;
  color: #555;
}

/* Gaya untuk input tanggal */
input[type='date'] {
  /* Atur properti untuk input tanggal */
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Gaya untuk judul sesi */
.sesi-title {
  /* Atur properti untuk judul sesi */
  margin-bottom: 10px;
  font-size: 18px;
}

/* Gaya untuk tata letak kolom */
.flex-container-konseling {
  /* Atur tata letak kolom */
  display: flex;
  justify-content: space-between;
}

/* Gaya untuk kolom */
.column {
  /* Atur properti untuk kolom */
  flex: 1;
  margin-right: 10px; /* Atur jarak antar kolom */
}
