
td{
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
  }
  
  #buttonBatalPaket{
    background-color: #fff;
    color: #5570F1;
  }
  #buttonHapusPaket{
    background: var(--primary-gradient-1, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%));
    color: #fff;
    border: none;
  }
  #buttonHapusPaket:hover{
    background: var(--primary-gradient-1, linear-gradient(257deg, #FD8BA3 100%, #FF5BCD 0%));
    color: #fff;
    border: none;
  }