p {
    font-family: 'Raleway', sans-serif;
   
}

.container-textbox {
    background-color: #FFFFFF;
    width: 60%;
    border-radius: 12px;
    margin: 20px
}

.container-image {
    background-color: #FFFFFF;
    width: 34%;
    border-radius: 12px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px
}
.artikel-baru-page {
    background-color: #FCFCFC;
}

.justify-content-md-center {
    background-color: transparent;
}