/* Karir.css */

.modal {
    display: none;
    position: fixed;
    background: white;
    padding: 20px;
    z-index: 1000;
  }
  
  /* Karir.css */
  
  .modal-content {
    display: inline-flex;
    padding: 28px 24px;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
    gap: 28px;
    border-radius: 12px;
    background: #FFF;
  }
  
  
  /* Add this CSS to style the forms */
  .modal-content form input {
    display: flex;
    width: 343px ;
    height: 52px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--neutral-0-c-0-c-0-c-neutral, #1F1F1F);
    background: var(--input-default-background, rgba(239, 241, 249, 0.60));
  }
  
  /* Add this CSS to style the form labels */
  .modal-content form label {
    margin-bottom: 5px;
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal.show {
    display: block;
  }
  
  .form-container {
    display: flex-column;
    gap: 20px; /* Adjust the gap as needed */
    flex-wrap: wrap; /* Wrap to the next line if the forms exceed the container width */
    line-height: 10px;
  }
  .horizontal-forms {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .styled-form label {
    color: var(--black-4, #5E6366);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}


.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--black-5, #2B2F32);
  font-family: 'Raleway';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: 750px; /* Posisikan di pojok kanan */
}


