.category-button {
 
  width: 125px;
  height: 31px;
  padding: 1px 10px; 
  text-align: center;
  line-height: 31px; 
  border-radius: 100px;
  background: var(--14-f-9-f-5-f-6, #F9F5F6);
  border: none;
  font-weight: bold;
  box-sizing: border-box;
  color: #646464;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 4px;
    
  }
  
  .category-button.selected {

    color: #fff; 
    background: var(--14-f-4518-d, #F4518D);
  }