/* ReviewSlider.css */
.review-slider{
  margin-top: 200px;
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .review-box {
    background-color: #f2f2f2; /* Warna latar belakang kotak */
    padding: 20px; /* Jarak antara konten dengan batas kotak */
    border: 1px solid #ccc; /* Garis tepi kotak */
    border-radius: 5px; /* Sudut bulat kotak */
    text-align: center;
    max-width: 300px; /* Lebar maksimum kotak */
    margin: 0 auto; /* Pusatkan kotak di tengah */
  }
  
  .review-box img {
    max-width: 100%;
    border-radius: 50%; /* Buat gambar menjadi lingkaran jika perlu */
  }
  
  .review-box h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .review-box p {
    font-size: 14px;
    margin-top: 10px;
  }
  