.toggle-switch {
    display: flex;
    font-size: 14px;
  }
  
  .toggle-option {
    margin-right: 10px;
  }
  
  .react-switch-bg {
    background-color: #ddd; /* Warna latar belakang switch ketika tidak aktif */
  }
  
  .react-switch-handle {
    background-color: #5cb85c; /* Warna handle switch ketika aktif */
  }
  