
/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f4f1;
    max-height: 100vh; /* Sesuaikan dengan tinggi yang diinginkan */
}


.main-database {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* Header Styles */
.header {
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    color: #45464E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: flex;
    top: 0;
    z-index: 1000;
    border-radius: 8px;
}


.header-logo {
    font-size: 20px;
    font-weight: bold;
}

.header-navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-navigation a {
    color: #45464E;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Icon Home Styles */
.icon-home {
    margin-right: 5px;
}

.icon-home-img {
    width: 20px;
    height: 20px;
}

/* Subtitle Styles */
.subtitle {
    display: flex;
    align-items: center;
    color: #888;
}

/* Profile and Notification Styles */
.header-icons {
    display: flex;
    align-items: center;
}

.div-icon {
    margin-right: 10px;
}

.div-icon-inner {
    background-color: transparent;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-icon-bar {
    width: 20px;
    height: 20px;
}

.div-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.interaksi-kontributor {
    width: calc(50% - 10px); /* 50% lebar dan dikurangi margin */
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px; /* Adjusted margin */
    background: var(--gradient-button-grad, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%));
}

.div-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.div-header-content {
    display: flex;
    align-items: center;
}

.div-header-left {
    margin-right: 10px;
}

.icon-image {
    width: 32px;
    height: 32px;
}

.div-title-DashboardSummary {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}

.div-footer {
    display: flex;
    flex-direction: column;
}

.div-footer-content {
    display: flex;
    justify-content: space-between;
}

.div-footer-item {
    text-align: center;
}

.div-footer-title-left {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.div-footer-data-left {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.div-footer-percentage-left {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.custom-button {
    background: rgba(244, 81, 141, 0.20) !important;
    border: none !important;
    color: #F4518D !important;

    /* Atur properti CSS lainnya jika diperlukan */
}

.table-header th {
    border-bottom: 1px solid #4B4B4B !important;
    /* Atur warna dan gaya border sesuai kebutuhan */
    border-top: 1px solid #4B4B4B !important;
    /* Atur warna dan gaya border sesuai kebutuhan */
}

.custom-btn-account {
    display: flex !important;
    width: 175px !important;
    height: 36px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 12px !important;
    background: var(--primary-gradient-1, linear-gradient(257deg, #FD8BA3 0%, #FF5BCD 100%)) !important;
    border: none !important;
}

.custom-btn-dropdown{
    background: rgba(94, 99, 102, 0.08) !important;
    border: none !important;
    color: #8B8D97 !important;
}
