.job-type-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    border-radius: 12px;
    background: #FFF;
    z-index: 1000;
    max-width: 10px; /* Adjust the maximum width as needed */
    width: 10%;
    text-align: left;
  }
  
  
  
  .head-text{
    color: var(--neutral-neutral, #1F1F1F);
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .main-form{
    display: flex;
    height: 52px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--input-default-background, rgba(239, 241, 249, 0.60));
    color: var(--black-2, #ABAFB1);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }